.task-creator-container {
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 34rem;
  height: 23rem;
  z-index: 10;
  position: fixed;
  bottom: 28%;
  left: calc(50% - 17rem);
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.7rem;
}

.title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  width: 30rem;
  margin-top: 2rem;
  row-gap: 1rem;
}

.title-container > label {
    width:42px;
}

.title-container > input {
    border: 1px solid black;
    background-color: transparent;
    height:2rem;
    border-radius:0.5rem;
    padding-left: 0.5rem;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  width: 30rem;
  row-gap: 1rem;
}

.description-container > label{
    width: 50px;
}

.description-container > input {
    border: 1px solid black;
    background-color: transparent;
    height:4rem;
    border-radius:0.5rem;
    padding-left: 0.5rem;
}

.submit-btn > button {
  cursor: pointer;
  height: 3.5rem;
  width: 9rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  margin: 0 auto;
  background-color: transparent;
  color: #FFC857;
  border-color: #FFC857;
  transition: all ease-in-out 0.2s;
}

.submit-btn > button:hover {
  background-color: #FFAD0A;
  border: 1px solid #FFAD0A;
  color: white;
}
